sourcemap.json

**/*.rbx[lm]*
roblox.yml
roblox.toml

**/serve
**/lune_packages
**/luau_packages
**/roblox_packages
Packages/
.pesde

**/sourcemap.json
**/darklua-sourcemap.json

**/node_modules
include
out

*.tgz
.zed
dist